#fileSelect{
     display: none;
}

.split-screen {
     display: flex;
     height: 67vh;
}

.logout{
     margin: 52px;
     align-items: center;
     justify-content: center;
     display: flex;
}

.btn_log{
     background-color: #aaa !important;
     text-transform: none !important;
     color: white !important;
     margin-top: 15rem !important;
}

.btn_log i{
     margin-right: 5px;
}

.navigation {
     color: white;
     flex: 0 0 250px;
     background-color: #333;
     padding: 10px;
}

.nav111 {
     margin-top: 25px;
}

.nav-option {
     cursor: pointer;
     padding: 10px;
     margin-bottom: 10px;
     border-radius: 5px;
     transition: background-color 0.3s ease;
}

.nav-option:hover {
     background-color: #ddd;
}

.nav-option.active {
     background-color: #aaa;
     color: white;
}

.content {
     margin-top: 50px;
     flex: 1;
}

.content22 {
     border-radius: 5px;
     margin: 17px;
     background: linear-gradient(180deg,rgba(51,154,214,0.85) 0%,#ceeaf3 100%) !important;
}

/* .maindiv11{
     background-color: linear-gradient(180deg,rgba(51,154,214,0.85) 0%,#ceeaf3 100%) !important;
} */

.content-section {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     font-size: 24px;
}

/* Assesment */

.content_heading {
     margin-left: 3%;
     font-size: 20px;
     font-weight: 800;
     margin-top: -50px;
     color: #444444;
     /* background-color: #333; */
}

.file-label {
     font-weight: bold;
     margin-bottom: 8px;
}

#fileInput {
     padding: 6px;
     border: 1px solid #444444;
     border-radius: 4px;
     background-color: #444444;
     color: #333;
}

.upload {
     display: none;
}

.mainFile {
     padding: 40px;
     margin-top: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 20px;
     /* Add margin as per your requirement */
}

.class3 {
     margin-top: 0%;
     justify-content: center;
     align-items: center;
     display: flex;
}

.btn111 {
     color: #444444 !important;
     padding: 5px !important;
     margin: 25px !important;
     text-transform: none !important;
     border: 2px solid #444444 !important;
}

.btn111 i, .btn222 i, .btn333 i{
     margin-right: 5px;
}

.btn222 {
     color: #444444 !important;
     padding: 5px !important;
     margin: 25px !important;
     text-transform: none !important;
     border: 2px solid #444444 !important;
}

.btn222 a{
     color: black !important;
     text-decoration: none !important;
}

.btn333 {
     color: #444444 !important;
     padding: 5px !important;
     margin: 25px !important;
     text-transform: none !important;
     border: 2px solid #444444 !important;
}

.labelmain {
     margin-left: -3px !important;
     color: #444444;
     margin: 15px;
}

.fileName {
     border: 2px solid #444444 !important;
     padding: 5px;
     border-radius: 5px;
     width: 14rem;
     height: 38px;
     overflow: hidden;
     color: #ddd;
}

.part1 {
     color: #444444;
     padding: 5px;
     font-weight: bolder;
     border: 2px solid #444444 !important;
     border-radius: 5px;
     margin-left: 1rem;
}